*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.footer{
    background-color: #161f1e;
    color: #fff;
    width: 100%;
    height: auto;
}

.footerNew{
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.footerTop{
    display: flex;
    justify-content: space-between;
}

.footerLeft img{
    width: 40px;
    height: 40px;
}

.footerRight{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.footerRLeft{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footerRLeft a{
    color: #fff;
}

.footerRLeft span{
    color: #FFFFFFBF;
    font-size: 13px;
}

.footerRLeft #phone{
    text-decoration: none;
}

.footerRRight{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.footerRRLeft{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footerRRLeft a{
    color: #fff;
    text-decoration: none;
}

.footerRRLeft a:hover{
    text-decoration-line: underline;
}

.footerRRRight{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footerRRRight a{
    color: #fff;
    text-decoration: none;
}

.footerRRRight a:hover{
    text-decoration-line: underline;
}

.footerBottom{
    display: flex;
    justify-content: space-between;
    color: #FFFFFFBF;
}

.footerBtmRight{
    display: flex;
    gap: 2px;
    color: #FFFFFFBF;
}

.footerBottom span:hover{
    text-decoration-line: underline;
}

@media screen and (max-width : 550px) {
    .footer{
        width: 610px;
    }
    .footerNew{
        padding: 100px;
    }
    .footerTop{
        width: 500px;
        flex-direction: column;
        gap: 50px;
    }
    .footerRight{
        width: 500px;
        flex-direction: column;
        gap: 50px;
    }
    .footerRRight{
        width: 400px;
    }
    .footerBottom{
        flex-direction: column;
        font-size: 11px;
    }
    .footerLeft img{
        width: 40px;
        height: 40px;
    }
}